*{
    margin:10;
    text-decoration: none;
    color: #07223D;
    background-color: #C9D1D7;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}
/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


/* NavBar*/

.navbar{
    padding-top: 15px;
    padding-left:0;
    padding-bottom: 0;
    padding-right: 0;
    list-style-type: none;
    margin:0;
    overflow:hidden;
    display: flex;
    justify-content: center;
}

.navitem{
    float:left;
    font-weight: bold;
    font-size: 30px;
    padding-left:100px;
    padding-right: 100px;
}

.navitem a{
    display:block;
    padding:10px;
    background-color: #C9D1D7;
}

.navitem:hover{
    color:#073d3d;
}



/*Footer*/
.footer{
    padding-bottom: 200px;
    padding-top: 100px;
}

.FooterTitle{
    text-align: right;
    font-size: 60px;
    padding-right: 100px;
}
.footerlinks{
    display: block;
    float:right;
    padding-right: 100px;
}

.SMlink1{
    padding-left: 100px;
}

.SMlink2{
    padding-left:30px;
}



/*HOMEPAGE*/

/*about section*/
.aboutMe{
    display:flex;
}

#personalDes{
    font-size: 72px;
}

.abtSect{
    width: 50%;
    float:left;
    padding: 20px; 
    padding-left: 100px;
    align-content:center;
}
/*clear float after colummn*/
.aboutMe:after{
    content:"";
    display:table;
    clear:both;
}

#home-name{
    font-size:25px;
}

#home-tagline{
    font-size:20px;
}

#Separate-Sections{
    margin:30px;
    align-items: center;
    height:0.5px;
    border:none;
    background:#07223D;

}


#resumeIMG{
    width: 500px;
    height: 500px;
    padding-top:100px;
    padding-right: 100px;
    float:right;
}

.indexTitle{
    font-size: 30px;
}

/*Work experience & sklills section*/
.workSkillsec{
    display:flex;
}

.WScol{
    width: 50%;
    float:left;
    padding: 20px; 
    padding-left: 100px;
    align-content:center;
}

.workSkillssect:after{
    content:"";
    display:table;
    clear:both;
}

.WErole{
    font-size:20px;
    text-decoration: underline;
}
.WEcompany{
    margin:0;
    font-size: 20px;
    font-weight: 500;
}

.WEduration{
    margin-top: 15px;
    font-size:18px;
}

#skills{
    padding-right: 100px;
}

.skillTitle{
    font-size: 20px;
    text-decoration: underline;
}
#Resume{
    display:block;
    text-align: center;
}


/* PROJECTS PAGE*/

#prjIntro{
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
}

.prjTitlesection{
    width:50%;
    float:left;
    padding:20px;
    align-content: center;
    margin:20px;
}

#prjSectionTitle{
    font-size:72px;
}

#prjSubTitle{
    width:600px;
}
#toolsUsedTitle{
    font-size: 30px;
    margin-top: 150px;
    padding-left: 20px;
}

#toolsUseddes{
    padding-left: 20px;
}


/* Project sections*/

.prjSection{
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
}

.prjSep{
    width:55%;
    float:left;
    padding: 20px;
    align-content: center;
    height:320px;
}

.prjImgsec{
    float:right;
    padding:20px;
    align-content: center;
}

.prj_IMG{
    width:500px;
    height:auto;
}

.prj_IMG_ver{
    height:320px;
    width:auto;
    margin-left:90px;
}

.projectTitle{
    font-size: 30px;
    margin-top:50px;
}

.prjLineSep{
    width:700px;
    float:left;
    color:#07223D;

}
.projectDes{
    margin-top: 20px;

}


/*ASR Label*/

#asrLink{
    text-decoration: underline;
}

/*UNIVERSAL PRJ PAGE ELEMETNS*/
.imgtitledes{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.imagetitle{
    display:block;
    margin: 30px;
}
.overviewText{
    font: 500;
    
}
.prjinfoTitle{
    font-size: 25px;
}
.prjintro{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.prjPgIntro{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    display: flex;
}

.prjinfo_section{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}

/*.prjimgGallery{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    width:50%;
    align-content: center;
}*/

.prjimgGallery{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.prjimgGallery2{
    display:inline-flex;
    justify-content: center;
    width: 100%;
}

.prjinfo_tools{
    padding-left:50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
}

.prjpg_timeline{
    width:200px;
    padding: 50px;
}

.prjimelineT{
    width:200px;
    padding:50px;
}

.prjimage{
    padding:30px;
}

.prjimage2{
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.prjimage3{
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right:10px;
}
.prjbtn{
    width:50px;
    background-color: #07223D;
    color: #C9D1D7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-weight: 800;
}


/*INT LABEL PRJ PAGE*/
.prjimg_intD{
    width:700px;
}

.prjimg_intM{
    height:480px;
}

#ptypgextrades{
    padding-left: 100px;
    padding-right: 100px;
}


/*TT PRJ PAGE*/
.downloadBtn{
    background-color: #07223D;
    color: #C9D1D7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-weight: 800;

}








