*{
    margin:10;
    font-size: 18px;
    text-decoration: none;
    color: #07223D;
    background-color: #C9D1D7;
    font-family: "Playfair Display", serif;
}
/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


/* NavBar*/

.navbar{
    padding-top: 15px;
    padding-left:0;
    padding-bottom: 0;
    padding-right: 0;
    list-style-type: none;
    margin:0;
    overflow:hidden;
    display: flex;
    justify-content: center;
}

.navitem{
    float:left;
    font-weight: bold;
    font-size: 30px;
    padding-left:100px;
    padding-right: 100px;
}

.navitem a{
    display:block;
    padding:10px;
    background-color: #C9D1D7;
}



/*Footer*/
.footer{
    padding-bottom: 200px;
    padding-top: 100px;
}

.FooterTitle{
    text-align: right;
    font-size: 60px;
    padding-right: 100px;
}
.footerlinks{
    display: block;
    float:right;
    padding-right: 100px;
}

.SMlink1{
    padding-left: 100px;
}

.SMlink2{
    padding-left:30px;
}



/*HOMEPAGE*/

/*about section*/
.aboutMe{
    display:flex;
}

#personalDes{
    font-size: 72px;
}

.abtSect{
    width: 50%;
    float:left;
    padding: 20px; 
    padding-left: 100px;
    align-content:center;
}
/*clear float after colummn*/
.aboutMe:after{
    content:"";
    display:table;
    clear:both;
}

#home-name{
    font-size:25px;
}

#home-tagline{
    font-size:20px;
}

#Separate-Sections{
    margin:30px;
    align-items: center;
}


#resumeIMG{
    width: 500px;
    height: 500px;
    padding-top:100px;
    padding-right: 100px;
    float:right;
}

.indexTitle{
    font-size: 30px;
}

/*Work experience & sklills section*/
.workSkillsec{
    display:flex;
}

.WScol{
    width: 50%;
    float:left;
    padding: 20px; 
    padding-left: 100px;
    align-content:center;
}

.workSkillssect:after{
    content:"";
    display:table;
    clear:both;
}

.WErole{
    font-size:20px;
    text-decoration: underline;
}
.WEcompany{
    margin:0;
    font-size: 20px;
    font-weight: 500;
}

.WEduration{
    margin-top: 15px;
    font-size:18px;
}

#skills{
    padding-right: 100px;
}

.skillTitle{
    font-size: 20px;
    text-decoration: underline;
}
#Resume{
    display:block;
    text-align: center;
}


/* PROJECTS PAGE*/

.prjTitle{
    font-size:35px;
}

.projects-class{
    padding: 100px 100px;
}

/*project slideshow*/
.project-slideshow{
    overflow:hidden;
    max-width:600px;
    position:relative;
    display:block;
    left:25%;
}

.project-slideshow .prjTitle,
.project-slideshow .prjTitle-hidden{
    display:none;
}

.project-slideshow .prjitem img{
    max-width: 600px;
    width: 100%;
    height:auto;
}

.project-slideshow .prjitem-show{
    display:block;
    animation: fadeVisibility 0.5s;
}

.project-slideshow .actions{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    color:#07223D;
}

.prjBtn{
    padding:10px 10px;
    margin:2px 1px;
    cursor:pointer;
    display: inline-block;
    color: #07223D;
    text-align: center;
    transition: 0.6s;
}

.prjBtn:hover{
    background-color: rgb(50, 50, 78);
}

@keyframes fadeVisibility{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: linear;
    }
}